/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}
body, html{
	font-size:$font-size-base;
	font-family: $font-family-sans-serif;
	color:$text-color;
	font-weight:400;
	height: auto !important;
	overflow-x: hidden;
	}
*{
	outline:none;
}


/*--------------------------------------------------------------
TYPOGRAPHY RESETS
--------------------------------------------------------------*/	
h1, h2, h3, h4, h5, h6{
	font-family: $font-family-heading;
	font-weight: $font-family-hweight;
}

h1{font-size:$font-size-h1;}
h2{font-size:$font-size-h2;}
h3{font-size:$font-size-h3}
h4{font-size:$font-size-h4}
h5{font-size:$font-size-h5}
h6{font-size:$font-size-h6;}

p{ padding:0; 	line-height: 20px; }

b, strong{
	font-weight: bold;
}

small{
	font-size: 30%;
}

a, a:hover, a:active{
	color:$link-color;
	text-decoration:none;
	}
 a:hover{
 	color:$link-color;
 }

//MAIN AREA FOR CONTENT
.main-content{
	color:$text-color;
	h1, h2, h3, h4, h5, h6{
	padding-top:$spacing-base / 2;
	padding-bottom:$spacing-base / 2;
	}
	p{
	padding-top:$spacing-base / 4;
	padding-bottom:$spacing-base / 4;
	}
	strong{
		font-weight:bold;
	}
	em{
		font-style:italic;
	}
	ul{
		li{
			list-style:inside disc;
			padding-top:$spacing-base / 4;
			padding-bottom:$spacing-base / 4;
		}
	}
	ol{
		li{
			list-style:inside decimal;
			padding-top:$spacing-base / 4;
			padding-bottom:$spacing-base / 4;
		}
	}
	a{
		color:$primary-color;
		font-weight:bold;
	}
	table {
		  width: 100%;
		  max-width: 100%;
		  margin-bottom: $spacing-base;

		  th,
		  td {
		    padding: $spacing-base / 4;
		    vertical-align: top;
		    border:  1px solid #efefef;
		  }

		  thead th {
		    vertical-align: bottom;
		    border-bottom: (2 * 1px) solid #efefef;
		  }

		  tbody + tbody {
		    border-top: (2 * 1px) solid #efefef;
		  }

		  .table {
		    background-color: #fff;
		  }
		}
		.table-hover {
		  tbody tr {
		    &:hover {
		      background-color: #eee;
		    }
		  }
		}
		.table-striped {
		  tbody tr:nth-of-type(odd) {
		    background-color: #eee;
		  }
		}
	.ref-title{
		color:#272727;
		font-weight:bold;
		border-bottom:4px solid #272727;
		margin-bottom:$spacing-base *2;
	}
}
